.newMessageHolder {
    flex: 1;
    text-align: center;
    cursor: pointer;
}

.messageField {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 20px 20px 0px 20px;
}  

.buttonsHolder {
    display: flex;
    flex-direction: row-reverse;
}

.modalSubmitButtom {
    width: 70px;
    height: 40px;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
}

.modalMessageInput {
    height: 270px;
}

