.icon {
  flex-shrink: 0;
  display: inline-flex;
  color: rgb(54, 65, 82);
  margin-top: auto;
  margin-bottom: auto;
  min-width: 36px;
}
.title {
  flex: 1 1 auto;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 20px;

  font-size: 0.875rem;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  line-height: 1.334;
  color: inherit;
}
