.onlineUsersBox
{
  flex : 2;
  height: 100%;
  /* border-radius: 20px; */
  border-left: 1px solid #d7d7d7;
}

.onlineUsersHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: #E0E0E0;
  height: 10%;
  border-radius: 20px;
}

.onlineUserImgContainer {
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}

.onlineUserImg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    border : 1px solid white;

}

.onlineUsersBadge
{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: lime;
    top: 0;
    right: 0;
}

.onlineUsers {
    display: flex;
    align-items: center;
    font-weight: 500;
    margin: 10px;
    max-width: 100%;
}

.cardHolder{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E0E0E0;
  margin: 5px;
}

/* .divider
{
  height: 2px;
  margin: 0px 30px 0px 30px;
} */

.iconHolder {
    display: flex;
    position: relative;
    margin-left: auto;   
}

.iconSVG {
    cursor: pointer;
    border: 1px solid #E0E0E0;
    margin: 2px;
}




.iconHolder .iconSVG::after {
  content: attr(data-description);
  position: absolute;
  top: -25px;
  left: initial;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  width: 100px;
  white-space: nowrap;
}

.iconHolder .iconSVG:hover::after {
  opacity: 1;
}


.photo-avatar 
{
  height: 200px;
}

.rightSideHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightSideBody {
  display: flex;
  flex-direction: column;
}

.icon-title 
{
  display: flex;
  margin : 10px;
  align-items: center;
}

.icon-title:hover
{
  cursor: pointer;
  background-color:  #f5f6f7;
  width: calc(90% - 20px);
}

.title-text
{
  margin : 0px 0px 0px 7px;
}