.messageBox {
    display: flex;
    flex-direction: column;
}

.messageImg {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    margin: 10px;
}

.messageTop {
    display: flex;
}

.messageText{
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(122, 83, 199);
    color: white;
    max-width: 500px;
}

.messageBottom {
    font-size: 12px;
    text-align: right;
}

.messageBox.own
{
    align-items: flex-end;
}

.messageBox.own .messageText
{
    background-color: lightgray;
    color: black;
}

