.searchIconHolder {
    flex: 1;
    text-align: center;
    border-radius: 50px;
    background-color: #bdbadc;
    /* overflow: hidden; */
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
.modalBody::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.modalBody {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

  .modalHeaderSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e0e0e0;
  }
  
  .modalBody {
    height: 90%;
    overflow-x: hidden;
    padding-right: 2px;
  }
  
  .modalBodyElement {
    width: 100%;
    margin-top: 10px;
    background-color: #fafafa;
    border: solid 1px #e0e0e0;
    display: flex;
    align-items: center;
    border-radius: 20px;
  }

  .modalBody .photo {
    display: block;
    width: 40px;
    height: 40px;
    min-width: 40px;
    max-width: 40px;
    background: #e6e7ed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin: 5px 10px 5px 5px;
    cursor: pointer;
  }
  
  .modalSearchIconHolder {
    display: flex;
    margin-left: 25%;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    padding: 3px 8px;
    color: #bbb;
    justify-content: flex-end;
  }
  
  .icon-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 15px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    transition: 0.3s ease-in-out;
  }