.discussions {
  overflow: hidden;

  /* display: inline-block; */
  padding: 5px;
}

.discussions .discussion {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0px;
}

.discussion:hover {
  cursor: pointer;
  background-color:  #f5f6f7;
}

.discussion-search {
  display: flex;
  align-items: center;
  justify-content: space-between; /* This will create space between the elements */
  height: 10%;
  border: 1px solid;
  margin-bottom: 10px;
  border-radius: 20px;
}

.chatTitleHolder {
  flex: 5;
  margin-left: 10px;
}

.searchIconHolder {
  flex: 1;
  text-align: center;
  border-radius: 50px;
  background-color: #bdbadc;
  cursor: pointer;
}

.messages-text {
  margin: 10px; /* Remove default margin for <p> tag */
  font-size: 40px;
}

.searchbar {
  height: 40px;
  background-color: #fff;
  width: 70%;
  padding: 0 20px;
  border-radius: 50px;
  border: 1px solid #eeeeee;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.searchInput {
  margin-left: 15px;
  height: 38px;
  width: 100%;
  border: none;
  font-family: "Montserrat", sans-serif;
}

.fa-fa-search {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}

.modalHeaderSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e0e0e0;
}

.discussions .message-active {
  width: 98.5%;
  height: 90px;
  background-color: #fff;
  border-bottom: solid 1px #e0e0e0;
}

.discussions .discussion .photo {
  width: 45px;
  height: 45px;
}

.online {
  position: relative;
  top: 30px;
  left: 35px;
  width: 13px;
  height: 13px;
  background-color: #8bc34a;
  border-radius: 13px;
  border: 3px solid #fafafa;
}

.desc-contact {
  max-width: 70%;
}

.discussions .discussion .name {
  margin: 0 0 0 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 11pt;
  color: #515151;
}

.discussions .discussion .message {
  margin: 6px 0 0 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 9pt;
  color: #515151;
}

.timer {
  margin-left: 25%;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  padding: 3px 8px;
  color: #bbb;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 15px;
}

.chat {
  width: calc(65% - 85px);
}

.header-chat {
  background-color: #fff;
  height: 90px;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.chat .header-chat .icon {
  margin-left: 30px;
  color: #515151;
  font-size: 14pt;
}

.chat .header-chat .name {
  margin: 0 0 0 20px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 13pt;
  color: #515151;
}

.chat .header-chat .right {
  position: absolute;
  right: 40px;
}

.chat .messages-chat {
  padding: 25px 35px;
}

.chat .messages-chat .message {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.chat .messages-chat .message .photo {
  display: block;
  width: 45px;
  height: 45px;
  background: #e6e7ed;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.chat .messages-chat .text {
  margin: 0 35px;
  background-color: #f6f6f6;
  padding: 15px;
  border-radius: 12px;
}

.text-only {
  margin-left: 45px;
}

.time {
  font-size: 10px;
  color: lightgrey;
  margin-bottom: 10px;
  margin-left: 85px;
}

.response-time {
  float: right;
  margin-right: 40px !important;
}

.response {
  float: right;
  margin-right: 0px !important;
  margin-left: auto; /* flexbox alignment rule */
}

.response .text {
  background-color: #e3effd !important;
}

.footer-chat {
  width: calc(65% - 66px);
  height: 80px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: transparent;
  border-top: 2px solid #eee;
}

.chat .footer-chat .icon {
  margin-left: 30px;
  color: #c0c0c0;
  font-size: 14pt;
}

.chat .footer-chat .send {
  color: #fff;
  background-color: #4f6ebd;
  position: absolute;
  right: 50px;
  padding: 12px 12px 12px 12px;
  border-radius: 50px;
  font-size: 14pt;
}

.chat .footer-chat .name {
  margin: 0 0 0 20px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 13pt;
  color: #515151;
}

.chat .footer-chat .right {
  position: absolute;
  right: 40px;
}

.write-message {
  border: none !important;
  width: 60%;
  height: 50px;
  margin-left: 20px;
  padding: 10px;
}

.footer-chat *::-webkit-input-placeholder {
  color: #c0c0c0;
  font-size: 13pt;
}
.footer-chat input *:-moz-placeholder {
  color: #c0c0c0;
  font-size: 13pt;
}
.footer-chat input *::-moz-placeholder {
  color: #c0c0c0;
  font-size: 13pt;
  margin-left: 5px;
}
.footer-chat input *:-ms-input-placeholder {
  color: #c0c0c0;
  font-size: 13pt;
}

.clickable {
  cursor: pointer;
}

.chatBoxHeader {
  background-color: red;
  height: 10%;
  border-radius: 20px;
}

.chatBox {
  flex: 5.5;
  height: 100%;
  margin: 0px 10px 0px 10px;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.chatBoxTop::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.chatBoxTop {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.chatBoxBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
}

.chatMessageInput {
  width: 80%;
  height: 50px;
  padding: 10px;
  margin: 10px;
}

.chatSubmitButtom {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.discussion-room-user {
  height: 5%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.rooms,
.dm {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  height: 100%;
  background-color: white;
  color: black;
  margin: 0px 3px 0px 3px;
}

.active {
  background-color: rgb(
    122,
    83,
    199
  ); /* Change this to your desired active button color */
  color: white; /* Change this to your desired text color */
}

/* Enhance the hover effect for buttons */
/* .rooms:hover,
.dm:hover {
  background-color: #d7c0f6; 
  color: rgb(122, 83, 199); 
} */


.icon-add-channel:hover{
  background-color: rgb(212, 191, 253);
  border-radius: 20px;
}