.chatBox 
{
    flex: 5.5;
    height: 100%;
}

.chatBoxNoConversation 
{
    flex: 5.5;
    height: 100%;
}

.chatBoxHeader 
{
  /* height: 10%; */
  border-bottom: 1px solid #d7d7d7;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
  align-items: center;
}

.chatBoxWrapper 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    padding: 0px 10px 0px 0px;
}

.chatBoxTop 
{
    height: 100%;
    overflow-y: scroll;
}
  /* Hide scrollbar for Chrome, Safari and Opera */
.chatBoxTop::-webkit-scrollbar 
{
    display: none;
}
  /* Hide scrollbar for IE, Edge and Firefox */
.chatBoxTop 
{
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.chatBoxBottom 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
}

.chatMessageInput 
{
    width: 80%;
    height: 50px;
    padding: 10px;
    margin: 10px;
}
  
.chatSubmitButtom 
{
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.empty-conversation {
    display: grid;
    place-items: center;
    /* display: flex; */
    /* justify-content: center; Horizontally center the content */
    /* align-items: center; Vertically center the content */
    height: 100%;
}